* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #edead9;
 

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #61c665;
    color:#fff;
    padding: 7px;
    position:sticky;
    top:0;
}

.logo {
    display: flex;
    align-items: center;
    
}

.logo img {
    width: 50px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50%;
}

nav ul {
    list-style-type: none;
    display:flex;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color:#fff;
}
nav ul li a:hover{
    background-color: #fff;
    color:#388E3C;
    padding:5px;
    border-radius: 3px;
}
section {
    padding: 20px;
}
main {
    padding: 20px;
    text-align: center;

}

main h1 {
    color: green;
    margin-bottom: 40px;
    font-size: 40px;
}

.category {
    text-align: left;
    margin-bottom: 60px; /* Increased space between categories */
}

.category h2 {
    color: #4caf50;
    margin-bottom: 20px;
    font-size: 30px;
}

.recipes-grid {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding:20px;
}

.recipe-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align:center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin:10px;
    flex:1 1 calc(33.333% - 40px);
    box-sizing: border-box;
    max-width: 300px;
}

.recipe-box img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.recipe-box h3 {
    color: green;
    margin: 10px 0;
}

.recipe-box p {
    color: #333;
    margin: 10px 0;
    text-align: justify;
}

.recipe-box a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: green;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.recipe-box a:hover {
    background-color: #3e8e41;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
@media screen and(max-width:768px){
    .recipe-box{
        flex-basis: 100%;
        max-width: none;
    }
}
#contact-us {
    text-align: center;
}
#contact-us a{
    text-decoration: none;
    color:black;
}
footer {
    background-color:#388E3C;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

footer ul li {
    margin: 0 10px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}